.card {
	position: relative;
	cursor: pointer;
}

.card img {
	width: 100%;
	display: block;
	border: 2px solid #fff;
	border-radius: 6px;
}

.card .cardFront {
	transform: rotateY(90deg);
	transition: all 0.2s ease-in;
	position: absolute;
}

.flipped .cardFront {
	transform: rotateY(0deg);
	transition-delay: 0.2s;
}

.card .cardBack {
	transition: all 0.2s ease-in;
	transition-delay: 0s;
}

.flipped .cardBack {
	transform: rotateY(90deg);
	transition-delay: 0s;
}
